.netflix {
  background-color: black;
  width: 1920px;
  height: 1356px;
}
h1 {
  font-size: 30px;
  color: red;
  margin: 0px 815px 45px 40px;
  padding-top: 20px;
}
h2 {
  margin-left: 40px;
  font-size: 18px;
  display: flex;
  color: white;
}
li {
  width: 1920px;
}
ul {
  display: flex;
  overflow: hidden;
  overflow-x: auto;
}
img {
  margin-left: 0px;
  width: 200px;
  height: 100px;
}
